@import "utility.sass"
.Timeline
    &_root
        margin-top: toRem(800px)
        display: flex
        flex-direction: column
        position: relative
    &_header
        align-self: center
        @include h1
    &_vLine
        border-left: toRem(6px)
        background-color: $text
        position: absolute
        top: toRem(140px)
        height: toRem(1500px)
        width: toRem(6px)
        align-self: center

    &_dateEvent
        display: flex
        position: relative
        align-self: center
        width: toRem(800px)
        justify-content: center
        flex-direction: row
        margin-left: toRem(300px)
    &_circle
        background-color: $primary
        width: toRem(60px)
        height: toRem(60px)
        align-self: center
        border-radius: toRem(30px)
        margin-right: toRem(2px)
    &_hLine
        border-top: toRem(3px) dashed $text
        width: toRem(200px)
        align-self: center
    &_year
        @include h3
        margin-left: toRem(25px)
        margin-top: toRem(5px)