@use 'sass:math'
@function toRem($px)
    @return math.div($px, 16px) * 1rem

$text: #faf8f5
$background: #151414
$primary: #f68a46
$secondary: #120c08
$accent: #95da25





@mixin h1
    font-size: 4.210rem 
    font-family: 'B612'
    color: $text
    /* 67.36px */
@mixin h2 
    font-size: 3.158rem
    font-family: 'B612'
    color: $text
/* 50.56px */
  
@mixin h3 
    font-size: 2.369rem
    font-family: 'B612'
/* 37.92px */

p
    color: $text
@mixin h4 
    font-size: 1.777rem
    font-family: 'B612'
/* 28.48px */
  
@mixin h5 
    font-family: 'B612'
    font-size: 1.333rem 
/* 21.28px */
  
@mixin small 
    font-size: 0.750rem
/* 12px */